%heading { font-family: $font-display; }

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-weight: 600;
    font-size: 6rem;
    color: $color-white;
    line-height: 1;
}

.heading-3 {
    @extend %heading;
    font-size: 3.5rem;
}

.heading-4 {
    font-weight: 100;
    font-size: 2.5rem;
}

.heading-5 {
    font-weight: 60;
    font-size: 1.8rem;
}

.heading-6 {
    font-weight: 80;
    font-size: 1.5rem;
}

.resource-title__heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-top: 2rem;
}

.mr {
    text-align: right;
}

.ml {
    text-align: left;
}
.mt-sm { margin-top: 2rem; }

.mt-md { margin-top: 3rem; }

.mt-lg { margin-top: 5rem; }

.mt-xl { margin-top: 8rem; }

.mb-sm { margin-bottom: 2rem; }

.mb-md { margin-bottom: 3rem; }

.mb-lg { margin-bottom: 5rem; }

.mb-hg { margin-bottom: 8rem; }
