.section-contact {
    padding: 5rem;
}

.contact-img {
    margin: 2.5rem;
}

.contact-form {
  width: 95%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

input.input-field {
  height: 5rem;
  border-radius: .6rem;
  padding: 0 3rem 0 5rem;
}

input.input-field[name="email"] {
  padding: 0 3rem 0 5.4rem;
}

textarea.input-field {
  min-height: 15.0rem;
  border-radius: .6rem;
  padding: 1.4rem 3rem;
}

/*---------------------------------------------*/
.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 1rem;
}

.input-field {
  display: block;
  width: 100%;
  background: $color-grey-light-1;
  font-family: inherit;
  font-size: 2rem;
  line-height: 1.5;
  color: $color-primary-dark;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input {
  display: block;
  position: absolute;
  border-radius: 2.5rem;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0rem 0rem 0rem 0rem;
}

.input:focus + .focus-input {
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.symbol-input {
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 2.5rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  pointer-events: none;
  color: $color-grey-deep;
  font-size: 1.5rem;
  transition: all 0.4s;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}

.contact-form-btn {
  width: 100%;
  height: 5.5rem;
  border-radius: 2.5rem;
  background: $color-primary;
  font-family: inherit;
  font-size: 2.2rem;
  line-height: 1.5;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
  transition: all 0.4s;
}

.contact-form-btn:hover {
  background: $color-blue-dark;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .wrap-contact {
    padding: 110px 80px 157px 90px;
  }

  .contact-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .wrap-contact {
    padding: 11rem 8rem 15.7rem 8rem;
  }

  .contact-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact {
    padding: 11rem 1.5rem 15.7rem 1.5rem;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: .4rem 2.5rem .4rem 1.0rem;
  top: 50%;
  transform: translateY(-50%);
  right: .8rem;
  pointer-events: none;

  font-family: inherit;
  color: #c80000;
  font-size: 1.3rem;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  right: 1.3rem;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.contact__divider {
    margin-top: 5rem;
    border: .2rem;
    height: .1rem;
    background-color: $color-blue-light-2;
}

.contact__header {
    padding: 2rem;
    text-align: center;
    font-size: 2.3rem;
    color: $color-grey-light-3;
    text-transform: uppercase;
}
