.section-home {
    background-color: $color-grey-light;
}

.section-articles {
    background-color: #039be5;
}

.section-about {
    background-color: #00897b;
}

.section-projects {
    background-color: #c0ca33;
}

.section-contact {
    background-color: #ffb300;
}

.section-resources {
    background-color: #f4511e;
}

.section-patreon {
    background-color: #1a237e;
}

.footer {
    background-color: $color-grey-medium;
}
