/* Overall section style starts here */
.section-home {
    background-color: $color-grey-light;
}

/* First quote Style starts here */
.quote {

    &__row {
        padding: 120px;
        text-align: center;
        font-style: italic;
        font-weight: 100;
    }
}

/* subscription style starts here */
.subcription {
    background-color: $color-white;

    &__row {
        padding: 120px;
        text-align: center;
    }

    &__menu {
        flex: 0 0 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        &-input {
            font-family: inherit;
            font-size: 2.5em;
            color: inherit;
            background-color: $color-grey-light-2;
            border: none;
            padding: 1.5rem 2rem;
            border-radius: 25px;
            width: 60%;
            transition: all .2s;
            margin-right: -4rem;

            &:focus {
                outline: none;
                width: 70%;
                background-color: $color-grey-light;
            }

            &::-webkit-input-palceholder {
                font-weight: 100;
                color: $color-grey-light;
            }
        }

        &-button {
            align-self: stretch;
            width: 130px;
            border: 0;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            background-color: $color-orange;
            font-size: 2.5em;
            cursor: pointer;

            &:focus, &:hover {
                color: $color-white;
                outline: none;
            }

            &:active {
                color: $color-white;
                transform: translateY(2px);
            }
        }
    }
}

/*  About Styles hr in about otim starts here */
.about__divider {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double $color-black;
    color: $color-black;
    text-align: center;
    width:80%;
    margin: 0 auto
}

.about__divider:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/* Second quote Style starts here */
.quote__divider {
    border: 0;
    height: 1.5px;
    text-align: center;
    width:50%;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* About image Style starts here */
.otim-circle {
    border-radius: 60%;
}

/* About social Style ends here */
.about__social {
  display: inline-flex;
  justify-content: center;
}

.about__social i {
  padding: 10px;
  color: $color-black;
  transition: all ease-in-out 150ms;
}

.about__social i:hover, i:active {
  margin-top: -3px;
  color: $color-grey-medium;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

/* Second quote Style starts here */
.quote__img {
  background-image: url(../img/book.jpg);
  color: $color-white;
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
}
