.section-articles {
    background-color: $color-white;
}

.blog-wrapper:last-child {
    margin-bottom: 5rem;
}

.blog-thumb {
	margin-bottom: 35px;
}

.blog-thumb img {
	width: 100%;
    margin-top: 5rem;
}
.post-meta {
	margin-bottom: 5px;
}
.post-meta ul li {
	display: inline-block;
	color: $color-grey-medium-2;
	margin-right: 15px;
    font-size: 1.4rem;
    margin-bottom: 1.1rem;
}
.blog-content h2 {
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 1.2rem;
	padding-right: 5rem;
}
.blog-content a {
	text-decoration: none;
    color: $color-primary;
}
.blog-content h2:hover a {
	color: $color-blue-medium;
}
.blog-content p {
	margin-bottom: 30px;
    font-size: 2rem;
	padding-right: 100px;
    color: $color-grey-deep;
}
.blog-content .btn {
	background: $color-primary;
    color: $color-white;
}
.blog-content .btn:hover {
	background: $color-blue-medium;
	color: $color-white;
	border-color: $color-blue-medium;
}

.blog-d-content p {
	padding-right: 0;
	margin-bottom: 0;
}
blockquote {
	font-size: 24px;
	font-style: italic;
	border-left: 5px solid #3878ff;
	margin: 50px 0;
	padding: 10px 0;
	padding-right: 120px;
	padding-left: 27px;
}
blockquote footer {
	font-size: 16px;
	margin-top: 7px;
}
.blog-post-tag span {
	font-size: 18px;
	color: #333333;
	font-weight: 700;
	font-family: 'Nunito', sans-serif;
}
.blog-post-tag ul {
	display: inline-block;
}
.blog-post-tag ul li {
	display: inline-block;
}
.blog-post-tag ul li a {
	color: #666;
}
.blog-share{text-align: right;}
.blog-share span {
	font-size: 18px;
	color: #333333;
	font-weight: 700;
	font-family: 'Nunito', sans-serif;
}
.blog-share ul {
	display: inline-block;
}
.blog-share ul li {
	display: inline-block;
}
.blog-share ul li a {
	color: #666;
}
.comment-box {
	display: table;
	margin-bottom: 50px;
}
.comments-avatar {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
}
.comment-text {
	margin-left: 20px;
}
.avatar-name {
	margin-bottom: 6px;
}
.avatar-name h4 {
	font-size: 18px;
	font-weight: 700;
	color: #333333;
	margin-bottom: 5px;
}
.avatar-name span {
	font-size: 14px;
	color: #666666;
}
.comment-text p {
	margin-bottom: 10px;
	padding-right: 100px;
}
.comment-text a {
	font-weight: 700;
	color: #333333;
	font-family: 'Nunito', sans-serif;
}
.post-comment-form input {
	width: 100%;
	border: 1px solid #e9e9e9;
	padding: 10px 20px;
	background: #f7f7fd;
	margin-bottom: 20px;
}
.post-comment-form textarea {
	width: 100%;
	border: 1px solid #e9e9e9;
	padding: 10px 20px;
	background: #f7f7fd;
	margin-bottom: 20px;
	height: 120px;
}
.post-comment-form .nice-select {
	width: 100%;
	border: 1px solid #e9e9e9;
	padding: 10px 20px;
	background: #f7f7fd;
	margin-bottom: 20px;
	line-height: 22px;
	height: 46px;
}
.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 0;
	border: 0;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 60px;
	line-height: 58px;
	outline: none;
	padding-left: 15px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 100%;
	margin-bottom: 30px;
}
