.section-resources {
    background-color: $color-grey-light;
}

.resources-header {
    background-color: $color-grey-light;

    &__row {
        padding: 4rem;
        text-align: center;
    }
}

.resource-title {
    background-color: $color-white;
    padding-bottom: 4rem;

    &__heading {
        padding-top: 5rem;
    }
}
