@-webkit-keyframes moveInButton {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 1rem;
}

.heading-3,
.heading-2,
.heading-1 {
  font-family: "Lato", sans-serif;
}

.heading-1 {
  font-size: 4.5rem;
  line-height: 1;
}

.heading-2 {
  font-weight: 600;
  font-size: 6rem;
  color: #fff;
  line-height: 1;
}

.heading-3 {
  font-size: 3.5rem;
}

.heading-4 {
  font-weight: 100;
  font-size: 2.5rem;
}

.heading-5 {
  font-weight: 60;
  font-size: 1.8rem;
}

.heading-6 {
  font-weight: 80;
  font-size: 1.5rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 5rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.bg-video__content {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.btn {
  align-self: start;
  justify-self: start;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: #9e9e9e;
}

.btn--white {
  background-color: #fff;
  color: #212121;
}

.btn--white::after {
  background-color: #fff;
}

.btn--animated {
  -webkit-animation: moveInButton 0.5s ease-out 0.75s;
          animation: moveInButton 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn__header {
  position: relative;
  left: 40%;
}

.wrapper {
  display: inline-flex;
  justify-content: center;
}

.wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.7);
  transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(1) {
  color: #000;
}

.wrapper a:nth-child(2) {
  color: #448aff;
}

.wrapper a:nth-child(3) {
  color: #00b0ff;
}

.wrapper a:nth-child(4) {
  color: #dd4b39;
}

.wrapper a:nth-child(5) {
  color: #4867AA;
}

.wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}

.hr__footer {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #000;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.hr__footer:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 2px;
}

.hr__footer:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fafafa;
}

.content__footer {
  color: #fff;
}

.ul__footer-list {
  list-style: none;
  text-decoration: none;
  color: #fafafa;
}

.ul__footer-list a {
  text-decoration: none;
  color: #fafafa;
}

.ul__footer-list a:hover,
.ul__footer-list a:active {
  color: #bdbdbd;
}

.copyright {
  text-align: center;
  color: #fafafa;
}

.copyright a {
  text-decoration: none;
  color: #fafafa;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.7);
}

.copyright a:hover,
.copyright a:active {
  color: #bdbdbd;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.header {
  grid-column: 1/-1;
  background-image: url(/images/header.jpg?5743f5904134d6d482225c0d48d9d0a7);
  background-size: cover;
  background-position: center;
  display: grid;
}

.header__text {
  margin: 320px 250px;
}

.header__text-1 {
  margin-top: -150px;
}

.header__text-2 {
  text-align: justify;
  font-style: italic;
  color: #fff;
  font-weight: 100;
}

.navigation {
  display: grid;
  grid-row: 1;
  grid-column: 1/4;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navigation__list {
  display: flex;
  position: relative;
  font-size: 2rem;
  padding: 0 120px 0;
  background-color: #37474f;
}

.navigation__list > li {
  display: flex;
  transition: background-color 0.5s ease;
}

.navigation__link {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: #fff;
  text-decoration: none;
  padding: 25px;
  position: relative;
  align-items: center;
}

.navigation__logo {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  flex-grow: 2;
}

.section-about {
  background-color: #00897b;
}

.section-articles {
  background-color: #039be5;
}

.section-contact {
  background-color: #ffb300;
}

.section-home {
  background-color: #fafafa;
}

.subcription {
  background-color: #fff;
}

.subcription__row {
  padding: 120px;
  text-align: center;
}

.subcription__menu {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subcription__menu-input {
  font-family: inherit;
  font-size: 2.5em;
  color: inherit;
  background-color: #bdbdbd;
  border: none;
  padding: 1.5rem 2rem;
  border-radius: 25px;
  width: 60%;
  transition: all 0.2s;
  margin-right: -4rem;
}

.subcription__menu-input:focus {
  outline: none;
  width: 70%;
  background-color: #fafafa;
}

.subcription__menu-input::-webkit-input-palceholder {
  font-weight: 100;
  color: #fafafa;
}

.subcription__menu-button {
  align-self: stretch;
  width: 130px;
  border: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #ffb300;
  font-size: 2.5em;
  cursor: pointer;
}

.subcription__menu-button:focus,
.subcription__menu-button:hover {
  color: #fff;
  outline: none;
}

.subcription__menu-button:active {
  color: #fff;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.footer {
  background-color: #9e9e9e;
}

.section-patreon {
  background-color: #1a237e;
}

.section-projects {
  background-color: #c0ca33;
}

.section-resources {
  background-color: #f4511e;
}

