// COLORS
// Blue Grey
$color-primary: #37474f;
$color-primary-light: #eceff1;
$color-primary-dark: #263238;

// //
// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

//
// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// Grey
$color-grey-light: #fafafa;
$color-grey-light-2: #bdbdbd;
$color-grey-medium: #9e9e9e;
$color-grey-medium-2: #818078;
$color-grey-dark: #212121;

$color-white: #fff;
$color-orange: #ef6c00;
$color-black: #000;

// Blue
$color-blue-light: #448aff;
$color-blue-medium: #00b0ff;
$color-blue-dark: #4867AA;

// Red
$color-red: #dd4b39;

// FONT VARIABLES
$default-font-size: 1.6rem;

$font-display: 'Lato', sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-medium: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
