.header {
    grid-column: 1 / -1;
    background-image: url(../../../public/img/header.jpg);
    background-size: cover;
    background-position: center;

    display: grid;

    &__text {
        margin: 320px 250px;
        text-align: justify;

        &-1 {
            margin-top: -150px;
        }
    }

}
