.header {
    grid-column: 1 / -1;
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;

    display: grid;

    &__text {
        margin: 320px 250px;

        &-1 {
            margin-top: -150px;
        }

        &-2 {
            text-align: justify;
            font-style: italic;
            color: $color-white;
            font-weight: 100;
        }
    }

}
